.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
   flex-grow: 1;
    margin-left: -30px;
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 20px;

}





