.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center; */
   flex-grow: 1;
    margin-left: -30px;
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 20px;

}





.modal {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
  }

  .modal-content {
    max-width: 80%;
    max-height: 80%



  }

  .close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: red;
    cursor: pointer;
  }

  .my-masnry-user-prof-desc {
    row-gap: 10px;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20%;
}
.my-masnry-user-prof-desc h1 {
    color: var(--green-400);
}
.my-masnry-user-prof-desc h3 {
    color: var(--dark-600);
}


.modalDes{
display: flex;
flex-direction: column;
align-items: center;
padding: 5%;
margin-left: 5%;

}

@media  screen and (max-width: 700px) {
    .modal-content {
        max-width: 80%;
        max-height: 600px;
        min-height: 200px;
        margin-bottom: 25%;


      }

}
